<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.calboard">

	<resultMap type="com.hk.caldtos.CalDto" id="CalDtoMap">
		<result property="seq" column="SEQ" />
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="mdate" column="MDATE" />
		<result property="regdate" column="REGDATE" />
	</resultMap>
	
	<select id="callist" resultMap="CalDtoMap" parameterType="Map">
		SELECT SEQ,ID,TITLE,CONTENT,MDATE,REGDATE
		FROM CALBOARD WHERE ID=#{id} AND SUBSTR(MDATE,1,8)=#{yyyyMMdd} 
	</select>
	
	<select id="caldetail" parameterType="int" resultMap="CalDtoMap">
		SELECT SEQ,ID,TITLE,CONTENT,MDATE,REGDATE
		FROM CALBOARD WHERE SEQ=#{seq}
	</select>
	
	<update id="calupdate" parameterType="CalDto" >
		UPDATE CALBOARD SET TITLE=#{title},CONTENT=#{content},MDATE=#{mdate},
		REGDATE=SYSDATE WHERE SEQ=#{seq}
	</update>
	
	<delete id="calMuldel" parameterType="Map">
		DELETE FROM CALBOARD WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</delete>
	
	<insert id="calinsert" parameterType="CalDto" >
		INSERT INTO CALBOARD VALUES(CALBOARD_SEQ.NEXTVAL,
		#{id},#{title},#{content},#{mdate},SYSDATE)
	</insert>
	
	<select id="calviewlist" resultMap="CalDtoMap" parameterType="Map">
		SELECT RN,SEQ,ID,TITLE,CONTENT,MDATE,REGDATE
		FROM(
			SELECT (ROW_NUMBER() OVER(PARTITION BY SUBSTR(MDATE,1,8) ORDER BY MDATE )) AS RN,
			       SEQ, ID, TITLE, CONTENT, MDATE, REGDATE
			FROM CALBOARD WHERE ID=#{id} AND SUBSTR(MDATE,1,6)=#{yyyyMM}
		) WHERE RN BETWEEN 1 AND 3
	</select>
	
	<select id="calcount" resultType="Integer" parameterType="Map">
		SELECT COUNT(*) FROM CALBOARD 
		WHERE ID=#{id} AND SUBSTR(MDATE,1,8)=#{yyyyMMdd}
	</select>
	
	
</mapper>























